.js-form {
    text-align: center;
    margin-top: 24px;
    margin-bottom: 24px;
    
}
.js-gallery{
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    gap: 24px;
    align-items: center;
    justify-content: center;
}
.card{
    flex-basis: calc(100% / 5);
    color: currentColor;
    text-decoration: none;
}
.more{
    display: block;
 margin-left: auto;
 margin-right: auto;
 margin-top: 24px;
}
.hidden{
    display: none;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}